@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Monomaniac+One&family=Tangerine:wght@400;700&family=Zen+Kurenaido&family=Yusei+Magic');
@import url('https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css');

:root {
  color-scheme: light dark;
  font-family: Tangerine, 'Mochiy Pop P One', sans-serif;
  font-size: 4em;
}

.font-size-18 { font-size: 18pt; }
.font-size-19 { font-size: 19pt; }
.font-size-20 { font-size: 20pt; }
.font-size-21 { font-size: 21pt; }
.font-size-22 { font-size: 22pt; }
.font-size-23 { font-size: 23pt; }
.font-size-24 { font-size: 24pt; }
.font-size-25 { font-size: 25pt; }
.font-size-26 { font-size: 26pt; }
.font-size-27 { font-size: 27pt; }
.font-size-28 { font-size: 28pt; }
.font-size-29 { font-size: 29pt; }
.font-size-30 { font-size: 30pt; }
.font-size-31 { font-size: 31pt; }
.font-size-32 { font-size: 32pt; }
.font-size-33 { font-size: 33pt; }
.font-size-34 { font-size: 34pt; }
.font-size-35 { font-size: 35pt; }
.font-size-36 { font-size: 36pt; }
.font-size-37 { font-size: 37pt; }
.font-size-38 { font-size: 38pt; }
.font-size-39 { font-size: 39pt; }
.font-size-40 { font-size: 40pt; }
.font-size-41 { font-size: 41pt; }
.font-size-42 { font-size: 42pt; }
.font-size-43 { font-size: 43pt; }
.font-size-44 { font-size: 44pt; }

.font-Mochiy-Pop-P-One {
  font-family: 'Mochiy Pop P One';
}
.font-Monomaniac-One {
  font-family: 'Monomaniac One';
}
.font-Zen-Kurenaido {
  font-family: Zen Kurenaido;
}
.font-Yusei-Magic {
  font-family: Yusei Magic;
}
.font-book {
  font-family: '教科書体';
}
.font-sans-serif {
  font-family: sans-serif;
}
.font-system {
  font-family: system;
}
.font-tangerine {
  font-family: Tangerine;
}
.font-gothic {
  font-family: 'Yu Gothic', sans-serif;
}
.font-mincho {
  font-family: 'Hiragino Mincho ProN', serif;
}
.font-hand {
  font-family: 'Comic Sans MS', cursive;
}

small {
  font-size: 0.88em;
}

.wrap {
  margin: 0;
  padding: 0;
}

.img {
  background-color: #222;
  border-radius: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px 12px 5px 12px;
  padding: 0;
  width: 128px;
  height: 128px;
}

.inner {
  padding-bottom: 10pt;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 1em;
}
