@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Monomaniac+One&family=Tangerine:wght@400;700');
@import url('https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css');

:root {
  color-scheme: light dark;
  font-family: Tangerine, 'Mochiy Pop P One', sans-serif;
  font-size: 4em;
}

.wrap {
  margin: 0;
  padding: 0;
}

.img {
  background-color: #222;
  border-radius: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px 12px 5px 12px;
  padding: 0;
  width: 128px;
  height: 128px;
}

.inner {
  padding-bottom: 10pt;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 1em;
}
